In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('test15.csv')

In [3]:
data.isnull().sum()

detail              0
dinner_review     832
lunch_review     1592
score               0
store_name          0
store_score         0
dtype: int64

In [3]:
data.shape

(4417, 6)

In [6]:
c = data[data['store_name'] == '栄寿司']

In [10]:
c['dinner_review'].value_counts(dropna=True)

Series([], Name: dinner_review, dtype: int64)

In [4]:
data['store_name'].value_counts()

銀座 久兵衛 銀座本店     751
築地すし大 本館        387
鮨 とかみ           364
新ばし しみづ         328
銀座 鮨 かねさか 本店    316
海味              272
弁天山美家古寿司        187
喜寿司             183
すし家 一柳          167
すし佐竹            151
すし匠 齋藤          141
入船寿司            141
らんまる            125
鮨 つぼみ           120
鮨竹              113
青空              100
奈可久              98
鮨 波づき            90
すし処 みや古分店        83
高柿の鮨             82
鮨 久いち            77
鮨處やまだ            77
鮨 福元             49
藤                15
Name: store_name, dtype: int64

In [7]:
c.head(300)

,detail,dinner_review,lunch_review,score,store_name,store_score
0,"5.0,4.7,4.6,4.8,4.1",\n わたろぐ https://wata-log.net/kakigara...,NaN,4.8,日本橋蛎殻町 すぎた,4.78
1,"4.8,4.6,4.7,4.6,4.6",\n 【再訪】 ２０１９．９朝晩は随分と秋めいてきた休日。食べログ全国総合...,NaN,4.6,日本橋蛎殻町 すぎた,4.78
2,"-,-,-,-,-",\n 今年1月に常連の友達に連れて行ってもらい超絶感動した日本橋蛎殻町すぎ...,NaN,5.0,日本橋蛎殻町 すぎた,4.78
3,"-,-,-,-,-",\n 【オーダー】おまかせコース（詳細下記）【所感】平日20:30〜訪問。...,NaN,4.9,日本橋蛎殻町 すぎた,4.78
4,"4.8,4.8,4.8,4.0,4.0",\n 再 訪(19.11月) 都寿司の頃から通って、一貫して一番好きだっ...,NaN,4.8,日本橋蛎殻町 すぎた,4.78
...,...,...,...,...,...,...
136,"-,-,-,-,-",\n つまみ01 空豆02 平貝刺身 愛媛03 鮃刺身 東京湾勝山04 新...,NaN,5.0,日本橋蛎殻町 すぎた,4.78
137,"-,-,-,-,-",\n つまみ01 ひろっこのお浸し02 真梶木刺身 和歌山03 蛸刺身 佐...,NaN,5.0,日本橋蛎殻町 すぎた,4.78
193,"4.5,4.3,4.5,4.2,4.0",\n うどんが主食の公式ブログ https://alwaysudon.co...,NaN,4.5,日本橋蛎殻町 すぎた,4.78
196,"4.5,4.3,4.5,4.2,4.0",\n うどんが主食の公式ブログ http://alwaysudon.com...,NaN,4.5,日本橋蛎殻町 すぎた,4.78
197,"4.4,4.3,4.5,4.2,4.0",\n うどんが主食の公式ブログ、うどんが主食の公式メルマガ都寿司の時代から...,NaN,4.4,日本橋蛎殻町 すぎた,4.78