In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('test1.csv')

In [5]:
data.head()

,area,detail,dinner_price,dinner_review,link,lunch_price,lunch_review,review_cnt,score,store_id,store_name,store_score
0,NaN,"4.8,4.8,4.8,4.0,4.0","￥20,000～￥29,999",\n 再 訪(19.11月) 都寿司の頃から通って、一貫して一番好きだっ...,https://tabelog.com/tokyo/A1302/A130204/13018162/,"￥20,000～￥29,999",NaN,222,4.8,NaN,日本橋蛎殻町 すぎた,4.78
1,NaN,"4.8,4.8,4.8,4.7,4.8",NaN,\n 8月に続き、またお邪魔しました。大将のお人柄を反映して、店内には、柔...,https://tabelog.com/tokyo/A1301/A130102/13219857/,"￥20,000～￥29,999",NaN,143,4.8,NaN,鮨 なんば 日比谷,4.67
2,NaN,"5.0,5.0,5.0,5.0,5.0","￥20,000～￥29,999",NaN,https://tabelog.com/tokyo/A1308/A130802/13015251/,"￥10,000～￥14,999",\n あら、もう霜月。今年もたくさん伺わせていただき感謝。この安定感たるや...,486,5.0,NaN,鮨 さいとう,4.72
3,NaN,"5.0,4.8,4.7,5.0,4.0","￥20,000～￥29,999",\n 食べログで全国No1(2019/9現在)に輝く、最高のお店、なかなか...,https://tabelog.com/tokyo/A1302/A130204/13018162/,"￥20,000～￥29,999",NaN,222,5.0,NaN,日本橋蛎殻町 すぎた,4.78
4,NaN,"4.9,4.5,4.2,4.0,4.5","￥20,000～￥29,999",\n 粋な大将と至高の江戸前鮨水天宮前駅４番出口（ロイヤルパークホテル）から徒...,https://tabelog.com/tokyo/A1302/A130204/13018162/,"￥20,000～￥29,999",NaN,222,4.8,NaN,日本橋蛎殻町 すぎた,4.78

In [8]:
data.drop(['link', 'area'], axis = 1)

,detail,dinner_price,dinner_review,lunch_price,lunch_review,review_cnt,score,store_id,store_name,store_score
0,"4.8,4.8,4.8,4.0,4.0","￥20,000～￥29,999",\n 再 訪(19.11月) 都寿司の頃から通って、一貫して一番好きだっ...,"￥20,000～￥29,999",NaN,222,4.8,NaN,日本橋蛎殻町 すぎた,4.78
1,"4.8,4.8,4.8,4.7,4.8",NaN,\n 8月に続き、またお邪魔しました。大将のお人柄を反映して、店内には、柔...,"￥20,000～￥29,999",NaN,143,4.8,NaN,鮨 なんば 日比谷,4.67
2,"5.0,5.0,5.0,5.0,5.0","￥20,000～￥29,999",NaN,"￥10,000～￥14,999",\n あら、もう霜月。今年もたくさん伺わせていただき感謝。この安定感たるや...,486,5.0,NaN,鮨 さいとう,4.72
3,"5.0,4.8,4.7,5.0,4.0","￥20,000～￥29,999",\n 食べログで全国No1(2019/9現在)に輝く、最高のお店、なかなか...,"￥20,000～￥29,999",NaN,222,5.0,NaN,日本橋蛎殻町 すぎた,4.78
4,"4.9,4.5,4.2,4.0,4.5","￥20,000～￥29,999",\n 粋な大将と至高の江戸前鮨水天宮前駅４番出口（ロイヤルパークホテル）から徒...,"￥20,000～￥29,999",NaN,222,4.8,NaN,日本橋蛎殻町 すぎた,4.78
...,...,...,...,...,...,...,...,...,...,...
333,"-,-,-,-,-","￥20,000～￥29,999",\n つまみ01 空豆02 平貝刺身 愛媛03 鮃刺身 東京湾勝山04 新...,"￥20,000～￥29,999",NaN,222,5.0,NaN,日本橋蛎殻町 すぎた,4.78
334,"-,-,-,-,-","￥20,000～￥29,999",\n つまみ01 ひろっこのお浸し02 真梶木刺身 和歌山03 蛸刺身 佐...,"￥20,000～￥29,999",NaN,222,5.0,NaN,日本橋蛎殻町 すぎた,4.78
335,"4.5,4.3,4.5,4.2,4.0","￥20,000～￥29,999",\n うどんが主食の公式ブログ https://alwaysudon.co...,"￥20,000～￥29,999",NaN,222,4.5,NaN,日本橋蛎殻町 すぎた,4.78
336,"4.5,4.3,4.5,4.2,4.0","￥20,000～￥29,999",\n うどんが主食の公式ブログ http://alwaysudon.com...,"￥20,000～￥29,999",NaN,222,4.5,NaN,日本橋蛎殻町 すぎた,4.78
337,"4.4,4.3,4.5,4.2,4.0","￥20,000～￥29,999",\n うどんが主食の公式ブログ、うどんが主食の公式メルマガ都寿司の時代から...,"￥20,000～￥29,999",NaN,222,4.4,NaN,日本橋蛎殻町 すぎた,4.78

In [15]:
c = data[data['store_name'] == '日本橋蛎殻町 すぎた']

In [20]:
c[c['lunch_review'] != NaN]

NameError: name 'NaN' is not defined